@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300;1,400&family=Oswald&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1{
    font-family: Oswald;
    color: #fff;
}
p{
    font-family: 'Open Sans';
    font-size: 14px;
    color: #fff;
}
header{
    background: url(img/bg.png) no-repeat;
    width: 100%;
    background-size: cover;
}
.container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    position: relative;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
}
.header__nav{
    display: flex;
    align-items: center;
    background-color: rgb(0, 91, 193, 0.6);
    
}
.nav__menu{
    display: flex;
}
.menu__item{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    margin-right: 27px;
    color: #fff;
}
.menu__item:last-child{
    margin-right: 0px;
}
ul{
    list-style: none;
}
.container__main{
    display: flex;
}
.content__main{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin-left: 190px;


}
.content__rectangle{
    background-color: rgb(0, 91, 193, 0.6);
    width: 444px;
    height: 720px;
    position: relative;

}
.content__main h1{
    margin-bottom: 40px;
    margin-top: 202px;
    font-size: 48px;
}
.content__main p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.main__button{
    width: 160px;
    height: 51px;
    border: 2px solid white;
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.slider{
    margin-top: 156px;
}
.slider__textButton{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.textButton__text{
    display: flex;
    align-items: center;
}
.textButton__text h1{
    font-size: 30px;
    color: #343434;
}
.textButton__text img{
    margin-right: 40px;
    max-width: 100px;
    max-height: 13px;
}
.slider__button{
    height: 55px;
    width: 55px;
    border: 2px solid #005BC1;
    background: none;
    cursor: pointer;
}
.slider__content{
    display: flex;
    justify-content: space-between;
}
.slide__text{
    background-color: #fff;
    width: 250px;
    height: 110px;
    top: -150px;
    left: 260px;
    
    position: relative;
    justify-content: center;
}
.slide__text h1{
    color: #343434;
    font-size: 18px;
}
.slide__text p{
    color: #343434;
    font-size: 14px;
    font-weight: 300px;
}
.image{
    width: 540px;
    height: 400px;
}
.title{
    display: flex;
    align-items: center;
    margin-top: 150px;
}
.title h1{
    color: #343434;
    font-size: 30px;
}
.title img{
    margin-right: 40px;
    max-width: 100px;
    max-height: 13px;
}
.catalogContent__text{
    display: flex;
    justify-content: center;
}
.catalogContent__text h1{
    color: #343434;
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 55px;
}
.catalogContent__text h1:first-child{
    margin-right: 50px;
}
.catalogContent__text h1:hover{
    text-decoration: underline;
    color: #005BC1;
}
.catalogContent__img{
    display: flex;
    justify-content: space-between;
}
.catalogContent__img img{
    width: 350px;
    height: 300px;
}
.catalog__textimg{

}
.catalog__textimg h1{
    font-size: 18px;
    position: relative;
    margin-left: 21px;
}
.text__bg{
    background-color: #005BC1;
    width: 265px;
    height: 86px;
    top: -110px;
    left: 82px;
    position: relative;
}
.news__button{
    background-color: #005BC1;
    height: 51px;
    width: 190px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-top: 150px;
}
.news__titleButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    max-height: 505px;
}