@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300;1,400&family=Oswald&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: Oswald;
    color: #fff;
}
p{
    font-family: 'Open Sans';
    font-size: 14px;
    color: #fff;
}
header{
    background: url(img/bg.png);
}
.container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    position: relative;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
}
.header__nav{
    display: flex;
    align-items: center;
    background-color: rgb(0, 91, 193, 0.6);
    
}
.nav__menu{
    display: flex;
}
.menu__item{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    margin-right: 27px;
    color: #fff;
}
.menu__item:last-child{
    margin-right: 0px;
}
ul{
    list-style: none;
}
.container__main{
    display: flex;
}
.content__main{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin-left: 190px;


}
.content__rectangle{
    background-color: rgb(0, 91, 193, 0.6);
    width: 444px;
    height: 720px;
    position: relative;

}
.content__main h1{
    margin-bottom: 40px;
    margin-top: 202px;
    font-size: 48px;
}
.content__main p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.main__button{
    width: 160px;
    height: 51px;
    border: 2px solid white;
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.slider{
    margin-top: 156px;
}
.slider__textButton{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.textButton__text{
    display: flex;
    align-items: center;
}
.textButton__text h1{
    font-size: 30px;
    color: #343434;
}
.textButton__text img{
    margin-right: 40px;
    max-width: 100px;
    max-height: 13px;
}
.slider__button{
    height: 55px;
    width: 55px;
    border: 2px solid #005BC1;
    background: none;
    cursor: pointer;
}